
    <form asp-action="Index" class="w3-container">
    
      <label>PersonID</label></p>
      <input class="w3-input w3-border w3-round" name="ID" type="text" placeholder="Enter ID"></p>   
      <label>fullname</label></p>
      <input class="w3-input w3-border w3-round" name="fullname" type="text" placeholder="Enter fullname"></p>
      <label>Address</label></p>
      <input class="w3-input w3-border w3-round" name="adress" type="text" ></p>
      <input type="submit" value="Sign in"/>
    </form>
  </div>
</div>
<h1>@ViewBag.Nhapthongtin</h1>