<form asp-action="Index">
    <label>Nhap thong tin</label>
    <input type="Text" name="fname" placeholder="Enter fullname"/>
    <input type="Email" name="email" placeholder="Enter email"/>
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.Nhandulieu</h1>